@font-face {
    font-family: 'GIL';
    src: url(../font/GIL.ttf);
}

body {
	font-family: 'GIL';
}

a, a:link, a:focus, a:visited {
	text-decoration: none;
}

/*HEADER*/
header {
	width: 100%;
    position: fixed;
    z-index: 100;
    padding: 50px 0px;
}

nav img {
	width: 160px;
	padding-left: 45px;
}
nav h1 {
	float: right;
	text-transform: uppercase;
    padding-right: 45px;
    padding-top: 15px;
    letter-spacing: 3;
    color: black;
    cursor: pointer;
}

/*POP UP*/
.pop-up {
	text-align: center;
	position: fixed;
	z-index: 100000000003;
    top: 10vh;
    left: 26%;
    padding: 50px;
    z-index: 99999;
    font-size: 1.2em;
    background: #fff;
    color: #000;
    width: 40%;
}

.line {
    margin: 40px 0;
    border-bottom: 1px solid #000;
}

.pop-up h2 img {
	margin: auto;
    display: block;
    width: 100px;
}

.pop-up p {
	padding: 25px;
}

.pop-up input {
	display: block;
    margin: auto;
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 25px;
}

.voile {
	position: fixed;
	z-index: 1001;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.7);
}

.cross {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
}

.log-facebook {
    font-family: helvetica;
    background-color: #3B5998;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 105px;
    border: none;
}

.login {
    background-color: #fe5f5b;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
	padding: 10px 105px;
    margin: 15px auto;
    border: none;
}

/*PAGE ONE*/
.page-one {
	letter-spacing: 5px;
	text-align: center;
    padding: 20vh;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.page-one h1 {
	font-size: 40px;
	text-align: center;
	padding: 5vh;
}

.page-one p {
	line-height: 2;
	text-align: center;
	padding: 10vh;
	font-size: 25px;
}

.page-one button {
	width: 220px;
	margin: 0 auto;
	display: block;
	border: none;
	background: #ffcb01;
	font-size: 20px;
	padding: 30px 35px;
}

.page-one button a {
	color: white;
	letter-spacing: 5px;
	text-decoration: none;
}

/*PAGE TWO*/
.page-two {
  background: #4CD5E7;
  height: 490px;
  width: 100%;
}

	/*SLIDE 1*/
	.video {
		position: absolute;
		z-index: 10;
	}
	.bloc-1 {
		width: 50%;
	}

	.bloc-1 h2 {
		display: none;
	}

	.bloc-1 img {
		width: 35%;
    	padding: 2% 45%;
	}

	.bloc-1 video {
		position: absolute;
	    z-index: 10;
	    top: 14%;
	    left: 23.9%;
	    width: 14.8%;
	}

	.bloc-paragraphe {
		width: 50%;
		float: right;
	}
	.bloc-paragraphe h3 {
	    padding: 10% 0 6%;
	    font-size: 50px;
	    color: white;
	    font-weight: 100;
	    letter-spacing: 10px;
	}
	
	.bloc-paragraphe p {
	    line-height: 1.7;
	    width: 500px;
	    font-size: 18px;
	    color: white;
	    padding-bottom: 100px;
	}

	.carou-2 {
		background: orange;
	}
	
	.carou-3 {
		background: green;
	}
	
	.carou-4 {
		background: maroon;
	}
	
	.carou-5 {
		background: dodgerblue;
	}
	
	.carou-6 {
		background: chartreuse;
	}
	

/*PAGE THREE*/
.page-three {
	background: #fe5f5b;
    padding: 28vh;
}

.page-three button {
	width: 240px;
    margin: 11vh auto 0vh;
    display: block;
    border: 2px solid white;
    background: none;
    font-size: 20px;
    padding: 20px 30px;
    letter-spacing: 4px;
    color: white;
}

.page-three p {
	line-height: 2;
    text-align: center;
    font-size: 35px;
   	letter-spacing: 3px;
   	color: white;
}

/*PAGE FOUR*/
.page-four {
	text-align: center;
    padding: 15vh;
}

.page-four h1 {
	    font-size: 50px;
    letter-spacing: 5px;
    color: #fe5f5b;
}

.logo-2 {
	padding: 15vh;
}

.page-four p {
	font-size: 20px;
	line-height: 1.5;
}

.page-four b {
	color:#fe5f5b;
}

.page-four ul {
    padding: 15vh 0 0;
}

.page-four ul li {
	display: inline-table;
	margin-left: 25px;
}

.page-four ul li img {
	width: 200px;
}


/*FOOTER*/
footer a {
	color: black;
}

.follow {
	width: 25.3%;
	background: #ffcc01;
}

.twitter {
	width: 25.1%;
	background: #ff7630;
}

.facebook {
	width: 25.1%;
	background: #4cd5e7;
}

.email {
	width: 25.1%;
	background: #fe5f5b;
}

.follow,.twitter,.facebook,.email {
	display: inline-table;
	margin-left: -5px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3;
	padding: 60px 0;
}

.twitter:hover,.facebook:hover,.email:hover {
	padding-top: 100px;
	transition:0.5s;
}

.twitter:not(:hover),.facebook:not(:hover),.email:not(:hover) {
	transition:0.5s;
}

.carou,.carou-2,.carou-3,.carou-4,.carou-5,.carou-6{
  height: 490px;
  width: 100%;
}

.owl-theme .owl-controls {
        margin-top: -70px;
    margin-left: 10.6%;
    text-align: center;
}


/*------------RESPONSIVE------------*/
@media screen and (max-width: 880px) {
	.log-facebook {
		width: 100%;
		padding: 15px;
	}
	.pop-up input {
	    width: 85%;
	}

	.login {
		width: 80%;
		padding: 15px;
	}
}

@media screen and (max-width: 768px) {
	/*HEADER*/
	nav img {
	    width: 120px;
	    padding-left: 45px;
	}

	/*PAGE ONE*/
	.page-one h1 {
	    font-size: 30px;
	    text-align: center;
	    padding: 0vh;
	    padding-top: 5vh;
	}

	.page-one p {
	    line-height: 2;
	    text-align: center;
	    padding: 10vh;
	    font-size: 20px;
	    letter-spacing: 2px;
	}

	.bloc-paragraphe {
		display: none;
	}

	.bloc-1 img {
	    width: 60%;
	    padding: 6% 70.6%;
	}

	.bloc-1 video {
	    position: absolute;
	    z-index: 10;
	    top: 15.4%;
	    left: 37.6%;
	    width: 25.4%;
	}

	/*PAGE THREE*/
	.page-three {
	    padding: 15vh;
	}

	.page-three p {
	    line-height: 2;
	    font-size: 25px;
	    letter-spacing: 3px;
	}

	/*PAGE FOUR*/
	.page-four {
		padding: 15vh 10vh;
	}

	.page-four h1 {
	    font-size: 40px;
	}

	.page-four p {
	    font-size: 18px;
	    line-height: 1.5;
	}

	.logo-2 {
	    padding: 15vh;
	    width: 250px;
	}

	/*FOOTER*/
	.twitter:hover,.facebook:hover,.email:hover {
		padding: 60px 0;
	}
}

@media screen and (max-width: 435px) {
	.page-one {
	    letter-spacing: 5px;
	    text-align: center;
	    padding: 20vh 0;
		background: url(../img/background2.jpg);
	}

	.logo-2 {
	    padding: 15vh 0;
	    width: 250px;
	}
	.follow, .twitter, .facebook, .email {
	    width: 101.5%;
	}

	.page-three {
	    padding: 15vh 15px;
	}

	.page-four {
	    padding: 10vh 5vh;
	}

	.page-four ul li {
	    display: inline-table;
	    margin-left: 0;
	    margin-top: 10px;
	}

	.bloc-1 h2 {
	    display: block;
	    position: absolute;
	    top: 4%;
	    left: 21%;
	    font-size: 30px;
	    text-transform: uppercase;
	    color: white;
	}


	.owl-page span {
		visibility: hidden;
	}

	.bloc-1 img {
	    width: 90%;
	    padding: 36% 55%;
	}

	.bloc-1 video {
	    position: absolute;
	    z-index: 10;
	    top: 23%;
	    left: 31%;
	    width: 37.9%;
	}
}

@media screen and (max-width: 414px) {
	/*HEADER*/
	nav img {
	    width: 30%;
	    padding-left: 25px;
	}

	nav h1 {
	    padding-right: 20px;
	    padding-top: 10px;
	    font-size: 14px;
	}

	/*POP UP*/
	.pop-up {
	    top: 10vh;
	    left: 7%;
	    padding: 35px 20px;
	    z-index: 99999;
	    font-size: 1.2em;
	    background: #fff;
	    color: #000;
	    width: 73%;
	}

	.pop-up input {
	    width: 70%;
	    border-radius: 15px;
	}

	.log-facebook {
	    font-family: helvetica;
	    background-color: #3B5998;
	    color: white;
	    font-size: 15px;
	    font-weight: bold;
	    border-radius: 30px;
	    padding: 10px 19%;
	    border: none;
	}

	.pop-up h2 img {
	    margin: -5px auto;
	    display: block;
	    width: 100px;
	}

	.login {
	    background-color: #fe5f5b;
	    color: white;
	    font-size: 15px;
	    font-weight: bold;
	    border-radius: 30px;
	    padding: 20px;
   		margin: 25px auto 0;
	    border: none;
	    width: 80%;
	}

	/*PAGE ONE*/
	.page-one {
	    letter-spacing: 5px;
	    text-align: center;
	    padding: 20vh 0;
	}

	.page-one h1 {
	    font-size: 25px;
	    line-height: 1.5;
	}

	.page-one p {
	    line-height: 2;
	    font-size: 16px;
	    letter-spacing: 1px;
	}

	.bloc-1 h2 {
		display: block;
	    position: absolute;
	    top: 4%;
	    left: 19%;
   		font-size: 30px;
	    text-transform: uppercase;
	    color: white;
	}

	.bloc-1 img {
        width: 90%;
		padding: 40% 55%;
	}
	.bloc-1 video {
        position: absolute;
	    z-index: 10;
	    top: 23.8%;
	    left: 31.1%;
	    width: 37.7%;
	}

	.page-three {
	    padding: 10vh 5vh;
	}

	.page-four {
	    padding: 15vh 5vh;
	}
	.page-four h1 {
	    font-size: 30px;
	}
	.logo-2 {
	    padding: 15vh 0;
	    width: 70%;
	}

	.page-four ul li img {
	    width: 70%;
	    margin: 10px auto;
	    display: block;
	}

	.page-four ul li {
	    display: inline-table;
	    margin-left: 0;
	}


	.pop-up {
		top:4%;
	}

@media screen and (max-width: 375px) {
	.bloc-1 h2 {
	    display: block;
	    position: absolute;
	    top: 4%;
	    left: 22%;
	    font-size: 25px;
	}
}

@media screen and (max-width: 320px) {
	.bloc-1 h2 {
	    display: block;
	    position: absolute;
	    top: 4%;
	    left: 23%;
	    font-size: 20px;
	    text-transform: uppercase;
	    color: white;
	}
}

